<mat-form-field class="example-chip-list">
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let county of counties"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="remove(county)">
      {{county}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input matInput type="text" aria-label="counties" placeholder="Département possible" #countyInput
           [matAutocomplete]="auto"
           [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="addOnBlur"
           (matChipInputTokenEnd)="add($event)"
            [formControl]="newCountyCtrl">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let item of countiesList" [value]="item.nom">
      {{item.nom}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
