<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content [formGroup]="form">


    <mat-form-field class="example-full-width">
    <textarea matInput matTextareaAutosize
              placeholder="{{title}}"
              [formControl]="contentCtrl"></textarea>
    </mat-form-field>
    <mat-error *ngIf="artistName && contentCtrl.dirty && contentCtrl.hasError('uniqueLogin')">Le nom d'artiste doit être unique</mat-error>



</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="close()">Fermer</button>
  <button mat-button (click)="save()">Valider</button>
</mat-dialog-actions>
