<div class="container">
  <div class="app-bar-bg">
    <div class="button-bg">
      <a class="return" (click)="navigateToUser()">&larr;</a>
    </div>
    <h1 class="Private-ShowCase">Fiche Artiste</h1>
    <div class="vide">
    </div>
  </div>
  <div class="bottom">

    <form [formGroup]="artistForm" class="bottom">
      <!--(ngSubmit)="handleSubmit()" [formGroup]="artistForm"-->


      <h2 class="Informations-gnrales">Presentation</h2>
      <div class="Rectangle">
        <div class="image-placeholder" (click)="selectFile.click()">
          <input style="display:none" type="file" (change)="onFileUpload($event)" #selectFile accept="image/*">
          <img *ngIf="imagePreview" src={{imagePreview}} alt="" class="dimentionnement">
        </div>
        <div class="text">
          <h3 class="Nom-de-lartiste">{{artist?.nameArtist!=='' ? artist?.nameArtist : "Veuillez remplir un nom d'artiste"}} <!--<img *ngIf="allowedToModify" class="pencil"
              src="../../assets/mode-edit.svg" alt="pencil" (click)="openDialog('nameArtist')">-->
          </h3>
          <div class="Description-courte">{{artist?.shortDescriptionArtist !== '' ? artist?.shortDescriptionArtist : "Veuillez remplir une description courte"}} <img *ngIf="allowedToModify" class="pencil"
              src="../../assets/mode-edit.svg" alt="pencil" (click)="openDialog('shortDescriptionArtist')">
          </div>
          <div class="description-longue">
            <span class="description-longue-texte">{{artist?.descriptionArtist!==''? artist?.descriptionArtist : "Veuillez remplir une description longue"}}</span>
            <span><img *ngIf="allowedToModify" class="pencil" src="../../assets/mode-edit.svg" alt="pencil"
                (click)="openDialog('descriptionArtist')"></span>


          </div>
        </div>
      </div>

      <h2 class="Informations-gnrales">Informations générales</h2>
      <div class="Rectangle">
        <div class="contacts" *ngIf="allowedToModify; else modificationAllowed">

          <div class="bounds">
            <span class="icon">
              <mat-icon matPrefix>alternate_email</mat-icon>
            </span>
            <span>
              <mat-form-field class="input">
                <input matInput type="text" placeholder="Site Web" value="{{artist?.urlSiteArtist}}"
                  [formControl]="websiteCtrl">
                <mat-error *ngIf="websiteCtrl.dirty && websiteCtrl.hasError('pattern')">L'url doit être valide
                </mat-error>
              </mat-form-field>
            </span>
          </div>
          <div class="bounds">
            <span class="icon">
              <mat-icon matPreffix>phone</mat-icon>
            </span>
            <span>
              <mat-form-field class="input">
                <input matInput type="text" placeholder="Téléphone" value="{{artist?.contactPhone}}"
                  [formControl]="phoneCtrl" [disabled]="!allowedToModify">
                <mat-error *ngIf="phoneCtrl.dirty && phoneCtrl.hasError('pattern')">Le téléphone doit être valide
                </mat-error>
              </mat-form-field>
            </span>
          </div>
          <div class="bounds">
            <span class="icon">
              <mat-icon matPrefix>email</mat-icon>
            </span>
            <span>
              <mat-form-field class="input">
                <input matInput type="email" placeholder="Email" value="{{artist?.contactMail}}"
                  [formControl]="emailCtrl">
                <mat-error *ngIf="emailCtrl.dirty && emailCtrl.hasError('email')">L'email doit être valide</mat-error>
              </mat-form-field>
            </span>
          </div>


        </div>
        <ng-template #modificationAllowed>
          <div class="contacts noInput">
            <div class="fields">
              <mat-icon>alternate_email</mat-icon>
              {{artist?.urlSiteArtist}}
            </div>
            <div class="fields">
              <mat-icon>phone</mat-icon>
              {{artist?.contactPhone}}
            </div>
            <div class="fields">
              <mat-icon>email</mat-icon>
              {{artist?.contactMail}}
            </div>
          </div>
        </ng-template>
        <div class="baisser-le-bouton">
          <div class="location">
            <h5 class="Slctionnez-les-d">Sélectionnez le(s) département(s) pour vos concerts :</h5>
            <app-location-chips [departements]="artist.departements"
                                [allowedToModify]="allowedToModify"></app-location-chips>
          </div>
          <div *ngIf="allowedToModify">
            <button mat-button class="button-bg-vert" mat-button (click)="handleSubmit()">Sauvegarder</button>
          </div>

        </div>
      </div>

    </form>

  </div>
</div>
