
<div class="Welcome">
  <div class="app-bar-bg">
    <div class="vide">
    </div>
    <h1 class="Private-ShowCase">Private showcase</h1>
    <div class="button-bg">
      <a class="label" (click)="NavigateToLogin($event)">Se&nbsp;connecter</a>
      <a class="label">|</a>
      <a class="label" (click)="NavigateToInscription($event)">S'inscrire</a>
    </div>
  </div>
  <img src="../../assets/banni-re.png" srcset="../../assets/banni-re@2x.png 2x,
     ../../assets/banni-re@3x.png 3x" class="Bannire">
  <div class="presentation">
    <div class="Fond">
      <img src="../../assets/musiciens.png" srcset="../../assets/musiciens@2x.png 2x,
          ../../assets/musiciens@3x.png 3x" class="CircleImage">
      <h3 class="Option">Musiciens</h3>
      <p class="Description">
        Porposez des concerts privés
      </p>
    </div>
    <div class="Fond">
        <img src="../../assets/spectateurs.jpg"
        class="CircleImage">
      <h3 class="Option">Spectateur</h3>
      <p class="Description">
       Vivez une experience unique
      </p>
    </div>
    <div class="Fond">
        <img src="../../assets/organisateurs.jpg"
        class="CircleImage">
      <h3 class="Option">Organisateur</h3>
      <p class="Description">
        Partagez vos coups de coeur
      </p>
    </div>
  </div>
</div>
